{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="container">
<div class="col-lg-6 mb-5 shadow rounded-3 my-5 mx-auto">
<div class="card">
    <div class="card-body p-4 p-sm-5">
    
    <div class="card-title">
    <h1>Register</h1>
    </div>

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}    

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.first_name) }}
        {{ form_row(registrationForm.last_name) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    </div>

</div>
</div>
</div>

{% endblock %}
