{% extends 'dashboard/base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}

<div class="card">
<div class="card-header">
    <h3>Services</h3>
    <p><a class="btn btn-success" href="{{ path('services_new') }}">Add service</a> </p>
</div>     

<div class="card-body">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Created_by</th>
                <th>Created_date</th>
                <th>Updated_date</th>
                <th>Active</th>
                <th>Title</th>
                <th>Preview_image</th>
                <th>Preview_text</th>
                <th>Detail_image</th>
                <th>Detail_text</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.createdBy }}</td>
                <td>{{ service.createdDate ? service.createdDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ service.updatedDate ? service.updatedDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ service.active }}</td>
                <td>{{ service.title }}</td>
                <td>{{ service.previewImage }}</td>
                <td>{{ service.previewText }}</td>
                <td>{{ service.detailImage }}</td>
                <td>{{ service.detailText }}</td>
                <td>
                    <a href="{{ path('dashboard_services_show', {'id': service.id}) }}">show</a>
                    <a href="{{ path('services_edit', {'id': service.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</div>
{% endblock %}
