{% extends 'dashboard/base.html.twig' %}

{% block title %}Услуги{% endblock %}

{% block body %}
    <h3>Услуги</h3>

    <table class="table table-bordred">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Created_by</th>
                <td>{{ service.createdBy }}</td>
            </tr>
            <tr>
                <th>Created_date</th>
                <td>{{ service.createdDate ? service.createdDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_date</th>
                <td>{{ service.updatedDate ? service.updatedDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ service.active }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ service.title }}</td>
            </tr>
            <tr>
                <th>Preview_image</th>
                <td>{{ service.previewImage }}</td>
            </tr>
            <tr>
                <th>Preview_text</th>
                <td>{{ service.previewText }}</td>
            </tr>
            <tr>
                <th>Detail_image</th>
                <td>{{ service.detailImage }}</td>
            </tr>
            <tr>
                <th>Detail_text</th>
                <td>{{ service.detailText }}</td>
            </tr>
            <tr>
                <th>Meta_title</th>
                <td>{{ service.metaTitle }}</td>
            </tr>
            <tr>
                <th>Meta_description</th>
                <td>{{ service.metaDescription }}</td>
            </tr>
            <tr>
                <th>Meta_keywords</th>
                <td>{{ service.metaKeywords }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('dashboard_services_index') }}">Назад к списку</a>

    <a href="{{ path('services_edit', {'id': service.id}) }}">edit</a>

    {{ include('dashboard/services/_delete_form.html.twig') }}
{% endblock %}
