{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}

<div class="container">

        <div class="row">
            <div class="col-xs-12">
        <h1>
        <a href="{{ path('category_show', {'id': category.id}) }}">{{ category.name }}</a>
        </h1>
            </div>
        </div>


    <div class="row products-list">
        {% for product in products %}
            <div class="col-sm-3 product-item">
                <div class="item-wrapp">
                <div class="product-image">
                {% if product.previewImage %}
                <img class="img-responsive" src="{{product.previewImage }}">
                {% endif %}
                </div>
                <div class="title-box">
                <h3><a href="{{ path('product_show', {'id': product.id}) }}">{{ product.title }}</a></h3>
                </div>                
                <p class="price">
                 {% if product.price %} 
                  {{ product.price }} р. 
                 {% endif %} 
                 {{ product.discountPrice }}
                 </p>                
                <form class="addtocart" action="/basket/add">
                <input type="hidden" name="id" value="{{ product.id }}">
                <button type="submit" class="btn btn-warning" name="add" value="Y">Купить</button>
                </form>                
                </div>
            </div>
        {% endfor %}
    </div>


</div>

{% endblock %}
