{% extends 'dashboard/base.html.twig' %}

{% block title %}Слайдеры{% endblock %}

{% block body %}
    <h4>Sliders</h4>
    
    <p><a class="btn btn-success" href="{{ path('sliders_new') }}">Add slider</a></p>

    <table class="table table-bordered admin-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Кем создан</th>
                <th>Дата создания</th>
                <th>Активно</th>
                <th>Заголовок</th>
                <th>Картинка</th>
                <th>Картинка фона</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for sliders in sliders %}
            <tr>
                <td>{{ sliders.id }}</td>
                <td>{{ sliders.createdBy }}</td>
                <td>{{ sliders.createdDate ? sliders.createdDate|date('Y-m-d H:i:s') : '' }}</td>
                
                <td>
                {% if sliders.active %}
                    Да
                {% else %} 
                    Нет
                {% endif %}   
                </td>

                <td>{{ sliders.title }}</td>

                <td>
                {% if sliders.previewImage %}
                <a target="_blank" href="{{ sliders.previewImage }}"><img src="{{ sliders.previewImage }}"></a>
                {% endif %}
                </td>

                <td>
                {% if sliders.detailImage %}
                <a target="_blank" href="{{ sliders.detailImage }}"><img src="{{ sliders.detailImage }}"></a>
                {% endif %}
                </td>

                <td class="actions-column">
                    <a href="{{ path('dashboard_sliders_show', {'id': sliders.id}) }}"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('sliders_edit', {'id': sliders.id}) }}"><i class="fas fa-edit"></i></a>
					
            <form method="post" action="{{ path('sliders_delete', {'id': sliders.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sliders.id) }}">
                <button class="btn"><i class='fas fa-trash-alt'></i></button>
            </form>
					
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}