{% extends 'dashboard/base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h3>Articles</h3>

    <table class="table table-bordered admin-table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ article.active }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Sort</th>
                <td>{{ article.sort }}</td>
            </tr>
            <tr>
                <th>Created_by</th>
                <td>{{ article.createdBy }}</td>
            </tr>
            {% if article.previewImage %}
                <tr>
                    <th>Изображения анонса</th>
                    <td><a target="_blank"  href="{{ article.previewImage }}"><img class="img-responsive" src="{{ article.previewImage }}" alt="{{ article.title }}"></a></td>
                </tr>
            {% endif %}

            {% if article.detailImage %}
                <tr>
                    <th>Детальная картинка</th>
                    <td><a target="_blank"  href="{{ article.detailImage }}"><img class="img-responsive" src="{{article.detailImage }}" alt="{{ article.title }}"></a></td>
                </tr>
            {% endif %}
            <tr>
                <th>Preview_text</th>
                <td>{{ article.previewText }}</td>
            </tr>
            <tr>
                <th>Detail_text</th>
                <td>{{ article.detailText }}</td>
            </tr>
            <tr>
                <th>Meta_title</th>
                <td>{{ article.metaTitle }}</td>
            </tr>
            <tr>
                <th>Meta_description</th>
                <td>{{ article.metaDescription }}</td>
            </tr>
            <tr>
                <th>Meta_keywords</th>
                <td>{{ article.metaKeywords }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('dashboard_articles_edit', {'id': article.id}) }}">edit</a>

    <a href="{{ path('dashboard_articles_index') }}">back to list</a>

    {{ include('dashboard/articles/_delete_form.html.twig') }}
{% endblock %}
